.csproj
/Server/worlds/
/Server/cache/
/Server/libraries/
/Server/plugins/
/Server/versions/
/Server/.console_history
/Server/banned-ips.json
/Server/banned-players.json
/Server/bukkit.yml
/Server/commands.yml
/Server/help.yml
/Server/ops.json
/Server/paper.yml
/Server/permissions.yml
/Server/server.jar
/Server/spigot.yml
/Server/usercache.json
/Server/version_history.json
/Server/whitelist.json
obj/**
bin/**
Ideas-Bugs.txt